<main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Công Phú Food</a>
        <select class="btn btn btn-outline-dark form-select col-sm-1" aria-label="Default select example">
            <option selected>filter</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav " style=" margin-left: 350px;">
                <li class="nav-item active">
                    <a class="nav-link text-black" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">Fast Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">Combo</a>
                </li>
            </ul>
            <form class="form-inline ml-auto" style="margin-right: 180px;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search ..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            </form>

            <a class="nav-link href="#"><i class="bi bi-cart4" style="font-size:1.6rem"></i></a>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle" style="font-size:1.6rem"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Account/Logout">Signin</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="~/images//21_combo_3.jpg" class="card-img-top" alt="Súp Đậu Hũ Non">
                        <div class="card-body">
                            <h5 class="card-title">Súp Đậu Hũ Non</h5>
                            <p class="card-text">
                                20000 VND <a href="#" class="btn btn-primary float-right"><i class="bi bi-cart-plus"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="~/images//21_combo_3.jpg" class="card-img-top" alt="Nem Chua Rán">
                        <div class="card-body">
                            <h5 class="card-title">Nem Chua Rán</h5>
                            <p class="card-text">40000 VND <a href="#" class="btn btn-primary float-right"><i class="bi bi-cart-plus"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="~/images//21_combo_3.jpg" class="card-img-top" alt="Sữa Vị Xoài (hộp thiếc)">
                        <div class="card-body">
                            <h5 class="card-title">Sữa Vị Xoài (hộp thiếc)</h5>
                            <p class="card-text">70000 VND  <a href="#" class="btn btn-primary float-right"><i class="bi bi-cart-plus"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="~/images//21_combo_3.jpg" class="card-img-top" alt="Grass Jelly Milk Coffee Size S">
                        <div class="card-body">
                            <h5 class="card-title">Grass Jelly Milk Coffee Size S</h5>
                            <p class="card-text">15000 VND <a href="#" class="btn btn-primary float-right"><i class="bi bi-cart-plus"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="card">
                        <img src="~/images//21_combo_3.jpg" class="card-img-top" alt="Trà Chanh">
                        <div class="card-body">
                            <h5 class="card-title">Trà Chanh</h5>
                            <p class="card-text">20000 VND <a href="#" class="btn btn-primary float-right"><i class="bi bi-cart-plus"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>