html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.auth-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.form-control {
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
}

.text-center {
    margin-top: 20px;
}